EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBdSZze-ATiqrtZFLpuumGYVA5qXwdhjUU
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=healthwatch-app.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=healthwatch-app
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=healthwatch-app.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=832039873512
EXPO_PUBLIC_FIREBASE_APP_ID=1:832039873512:web:3917bb42f08a85ded0925d
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-Y1N0P90LRN